# Copy to: fastlane/.env.fastlane.prod
# Used by lane: fastlane ios prod

PROD_SCHEME={{SCHEME_DIS}}
PROD_BUNDLE_ID={{BUNDLE_ID_DIS}}
PROD_PROFILE={{PROFILE_DIS}}
PROD_EXPORT_METHOD=app-store
PROD_CONFIGURATION=Release
PROD_UPLOAD_PGYER=false
