# Copy to: fastlane/.env.fastlane.staging
# Used by lane: fastlane ios staging

STAGING_SCHEME={{SCHEME_DIS}}
STAGING_BUNDLE_ID={{BUNDLE_ID_DIS}}
STAGING_PROFILE={{PROFILE_DIS}}
STAGING_EXPORT_METHOD=ad-hoc
STAGING_CONFIGURATION=Release
STAGING_UPLOAD_PGYER=true
